body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Lora', serif;
  background-color: #eefafc;
  box-sizing: border-box;
}

/* ---------- NAVBAR ---------- */

.navbar {
  background: rgb(94, 96, 206);
  background: linear-gradient(90deg, rgba(94, 96, 206, 1) 0%, rgba(128, 255, 219, 1) 100%);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0 6vw;
  padding: 1rem;
}

.navbar ul a {
  text-decoration: none;
  color: #fff;
}

.navbar .left,
.navbar .right {
  display: flex;
  gap: 5vw;
}

.navbar .right {
  display: flex;
  margin-left: auto;
}

.navbar .right li a {
  color: #000;
}

.navbar li {
  display: flex;
  font-size: 1rem;
}

/* ---------- NAVBAR ---------- */


/* ---------- CONTENT ---------- */

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 6vw;
  justify-content: center;
}

.block-item {
  display: flex;
  flex-direction: column;
  margin: 3vh 3vw;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 4vh;
  background: rgb(94, 96, 206);
  background: linear-gradient(90deg, rgba(94, 96, 206, 1) 0%, rgba(128, 255, 219, 1) 100%);
}

.item-img {
  display: flex;
  width: 12vh;
  height: 16vh;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #eefafc;
}

.item-title {
  text-align: center;
  margin: .6vh 0;
}

.item-btn {
  all: unset;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  background: rgb(128, 255, 219);
  background: linear-gradient(90deg, rgba(128, 255, 219, 1) 0%, rgba(100, 223, 223, 1) 34%, rgba(72, 191, 227, 1) 100%);
  padding: .125vh;
}

.item-btn:hover {
  background: rgb(194, 255, 238);
  background: rgb(153, 255, 226);
  background: linear-gradient(90deg, rgba(153, 255, 226, 1) 0%, rgba(120, 227, 227, 1) 34%, rgba(96, 199, 230, 1) 100%);
}

/* ---------- CONTENT ---------- */

.footer {
  display: flex;
}