/* wilmxre - 2022 */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  background-color: #edf9fc;
  box-sizing: border-box;
}

/* ---------- NAVBAR ---------- */

.navbar {
  background: rgba(68, 70, 197, 1);
  background: linear-gradient(90deg, rgba(68, 70, 197, 1) 0%, rgba(100, 223, 223, 1) 100%);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0 6vw;
  padding: 1rem;
}

.navbar ul a {
  text-decoration: none;
  color: #fff;
}

.navbar .left,
.navbar .right {
  display: flex;
  gap: 5vw;
}

.navbar .right {
  display: flex;
  margin-left: auto;
}

.navbar .right li a {
  color: #000;
}

.navbar li {
  display: flex;
  font-size: 1rem;
}

/* ---------- NAVBAR ---------- */


/* ---------- CONTENT ---------- */
.content {
  flex: 1;
}

h2 {
  display: flex;
  justify-content: center;
}


.items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 6vw;
  justify-content: center;
}

.block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 8px;
  padding: 2rem;
  background: rgba(83, 85, 202, .9);
  background: linear-gradient(0deg, rgba(83, 85, 202, .9) 0%, rgba(100, 223, 223, 1) 100%);
}

.block-item:hover {
  background: rgba(83, 85, 202, .8);
  background: linear-gradient(0deg, rgba(83, 85, 202, .8) 0%, rgba(100, 223, 223, .9) 100%);
}

.item-img {
  display: flex;
  width: 8rem;
  height: 10rem;
  border-radius: 12px;
  background-color: #eefafc;
}

.item-title,
.item-price {
  text-align: center;
  font-size: .9rem;
}

.item-title {
  margin: .2rem;
  width: 8rem;
  word-wrap: break-word;
}

.item-price {
  margin: 0 .2rem .4rem .2rem;
}

.item-btn {
  all: unset;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background: rgb(128, 255, 219);
  background: linear-gradient(90deg, rgba(128, 255, 219, 1) 0%, rgba(100, 223, 223, 1) 34%, rgba(72, 191, 227, 1) 100%);
  padding: .125rem .8rem;
  font-size: .9rem;
}

.item-btn:hover {
  background: rgb(194, 255, 238);
  background: rgb(153, 255, 226);
  background: linear-gradient(90deg, rgba(153, 255, 226, 1) 0%, rgba(120, 227, 227, 1) 34%, rgba(96, 199, 230, 1) 100%);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 4vw;
  gap: 3vw;
}

.btn-prev,
.btn-next {
  border-radius: 6px;
  background: rgb(128, 255, 219);
  background: linear-gradient(90deg, rgba(128, 255, 219, 1) 0%, rgba(100, 223, 223, 1) 34%, rgba(72, 191, 227, 1) 100%);
  border: none;
  width: 150px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-prev:hover {
  padding-right: 25px;
}

.btn-next:hover {
  padding-left: 25px;
}

ul#pgs {
  display: flex;
  gap: 1.5vw;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

#pgs li {
  padding: 0 .2rem;
}

.ellipsis {
  cursor: default;
}

.highlight {
  font-size: 3rem;
}

/* ---------- CONTENT ---------- */

/* ---------- FOOTER ---------- */

.footer {
  display: flex;
  justify-content: space-between;
  background: rgba(38, 40, 125, 1);
  background: linear-gradient(90deg, rgba(38, 40, 125, 1) 0%, rgba(27, 136, 136, 1) 100%);
  color: #fff;
  align-items: center;
  margin-top: 1.5rem;
  padding: .4rem 4rem;
  font-size: .9rem;
}

.top {
  visibility: hidden;
  cursor: pointer;
  font-size: 1.6rem;
}

/* ---------- FOOTER ---------- */

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 500px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .navbar .right {
    margin-left: 0;
  }
}

/* ---------- MEDIA QUERIES ---------- */